<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>

<div layout:fragment="conteudo">
<form method="post" action="/users">
  <label for="usuario"> Usuario:</label>
  <input type="text" id="usuario" name="usuario"> <br />
  <label for="senha"> Senha:</label>
  <input type="password" id="senha" name="senha">
  <br />
  <label for="confirmaSenha"> confirme sua senha:</label>
  <input type="password" id="confirmaSenha" name="confirmaSenha">
  <br />
  <label for="email"> Digite seu email:</label>
  <input type="text" id="email" name="email">
  <br />
  <input type="submit" text="cadastrar">

</form>
</div>

</body>
</html>